body{
  font-family:  "Montserrat",sans-serif;
}
#title{
  background-color: #ff4c68;
  color: white;
}
.container-fluid{
  padding: 3% 15%;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  weight: 900;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
/* Navbar Brand */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
  font-family: "Montserrat";
  weight: 500px;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;

}
@media (max-width:1028px) {
  .title-image{
    width: 50%;
    position: static;
    transform: rotate(0);
  }
}
/* Faetures */
.icon{
  color: #ef8172;
}

.icon:hover{
  color: #ff4c68;
}

#features{
  text-align: center;
  padding: 7% 10% 10%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#features h3{
  font-family: "Montserrat";
  font-weight:600;
  font-size: 1.5rem;
}

#features p{
  color: #8f8f8f;
}

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}
.carousel-item{
padding: 7% 10%;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 5%;
}

#cta{
  padding: 10% 15%;
  background-color: #ff4c68;
  text-align: center;
}

#footer{
  padding: 7% 10%;
  background-color: #fff;
  text-align: center;
}

.footer-icon{
  margin-right: 20px;
  margin-bottom: 20px;
}
